/.build/
/.lock
/cache/
/chroot/
/binary/
/chroot.*
/binary.*
/source.*
/build.log
/build-docker.log
/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source
/config/package-lists/live.list.chroot
/live-image-*
*.iso

/config/hooks/live/
/config/hooks/normal/*
!/config/hooks/normal/0120-vendetta.hook.chroot
!/config/hooks/normal/0130-vendetta-tools.hook.chroot

/config/packages.chroot/*.deb

/packages/*.deb
/packages/*.buildinfo
/packages/*.changes
/packages/vendetta-desktop/debian/files
/packages/vendetta-desktop/debian/*.substvars
/packages/vendetta-desktop/debian/debhelper-build-stamp
/packages/vendetta-desktop/debian/.debhelper/
/packages/vendetta-desktop/debian/vendetta-desktop/

/assets/


*.swp
*~
.DS_Store
*.orig

/arch/out/
/arch/work/
/fedora/out/
/nixos/result
*.qcow2
__pycache__/
