[SddmGreeterTheme]
Name=Vendetta
Description=Vendetta Council OS login
Author=Vendetta Council
License=GPL-2.0-or-later
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=vendetta
Theme-API=2.0
QtVersion=6
